<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🎨 Bootstrap Showcase</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon">🏠</span> Home
            </NavLink>
        </div>

        <div class="nav-section px-3">Foundation</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="layout"><span class="nav-icon">📐</span> Layout</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="typography"><span class="nav-icon">🔤</span> Typography</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="colors"><span class="nav-icon">🎨</span> Colors</NavLink>
        </div>

        <div class="nav-section px-3">Content</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tables"><span class="nav-icon">📊</span> Tables</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cards"><span class="nav-icon">🃏</span> Cards</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listgroup"><span class="nav-icon">📃</span> List Group</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="forms"><span class="nav-icon">📝</span> Forms</NavLink>
        </div>

        <div class="nav-section px-3">Components</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttons"><span class="nav-icon">🔘</span> Buttons & Badges</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alerts"><span class="nav-icon">🔔</span> Alerts & Toasts</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navigation"><span class="nav-icon">🧭</span> Navigation</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dropdowns"><span class="nav-icon">📋</span> Dropdowns</NavLink>
        </div>

        <div class="nav-section px-3">Overlays</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="overlays"><span class="nav-icon">🪟</span> Modals & Offcanvas</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tooltips-popovers"><span class="nav-icon">💬</span> Tooltips & Popovers</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expandables"><span class="nav-icon">🪗</span> Accordion & Collapse</NavLink>
        </div>

        <div class="nav-section px-3">More</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carousel"><span class="nav-icon">🎠</span> Carousel</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loading"><span class="nav-icon">⏳</span> Loading States</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scrollspy"><span class="nav-icon">👁️</span> Scrollspy</NavLink>
        </div>
    </nav>
</div>
