@page "/selfcode"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Sections
@rendermode InteractiveServer

<PageTitle>手敲html专题</PageTitle>


<h1>Html 标签</h1>

<iframe src="https://www.w3school.com.cn/tags/html_ref_byfunc.asp" width="100%" height="700px">https://www.w3school.com.cn/tags/html_ref_byfunc.asp</iframe>

<b>html 代表的是语义, 如果仅仅是为了样式, 应当使用css实现!!! </b>

<hr>

    <div>
        <h2>标题 (独占一行)</h2>
        <h1>&lt;h1&gt;h1. 一级标题&lt;/h1&gt;</h1>
        <h2>&lt;h2&gt;h2. 二级标题&lt;/h2&gt;</h2>
        <h4>&lt;h4&gt;h4. 四级标题&lt;/h4&gt;</h4>
    </div>aaas
<hr>

    <div>
        <h2 style="text-align: center;">段落 (独占一行)</h2>
        <p>&lt;p&gt;段落&lt;/p&gt;</p>
        <p>&lt;br&gt;换行</p>
        <p>&lt;hr&gt;水平分割线↓↓↓↓</p>
        <code>&lt;code&gt;代码文本&lt;/code&gt;</code>
        <pre>
    &lt;pre&gt;
        预格式化文本, 在这里会保留排版格式和空格, 适合显示代码文本。
    &lt;/pre&gt;
        </pre>
    </div>
<hr>

    <div>
        <h2 style="text-align: center;">文本格式化</h2>

        <pre>
<a href="#">&lt;a href="#"&gt;超链接&lt;/a&gt;</a>
<b>&lt;b&gt;粗体&lt;/b&gt;</b>
<i>&lt;i&gt;斜体&lt;/i&gt;</i>
<em>&lt;em&gt;强调文本&lt;/em&gt;</em>
<s>&lt;s&gt;删除线&lt;/s&gt;</s>
<del>&lt;del&gt;删除线&lt;/del&gt;</del>
<u>&lt;u&gt;下划线&lt;/u&gt;</u>
<ins>&lt;ins&gt;插入文本&lt;/ins&gt;</ins>
<mark>&lt;mark&gt;高亮&lt;/mark&gt;</mark>
<small>&lt;small&gt;小号文本&lt;/small&gt;</small>
<strong>&lt;strong&gt;加粗&lt;/strong&gt;</strong>
X<sup>&lt;sup&gt;上标&lt;/sup&gt;</sup>
X<sub>&lt;sub&gt;下标&lt;/sub&gt;</sub>
<abbr title="HyperText Markup Language">HTML</abbr>缩写, 悬停可查看全称 &lt;abbr title="HyperText Markup Language"&gt;HTML&lt;/abbr&gt;
&amp;ensp; 半角空格
&amp;emsp; 全角空格
<kbd>Ctrl</kbd> + <kbd>C</kbd> &lt;kbd&gt;Ctrl&lt;/kbd&gt; + &lt;kbd&gt;C&lt;/kbd&gt; <small>标签用于表示键盘输入, 适合显示快捷键组合。</small> 
&lt;meter value="0.7"&gt; 给定范围的仪表 &lt;/meter&gt; <meter value="0.7"></meter>
&lt;progress value="0.7"&gt; 表示任务的完成进度 &lt;/progress&gt; <progress value="0.7"></progress>
<samp>&lt;samp&gt;计算机输出&lt;/samp&gt;</samp>
<time datetime="2023-10-10">2023年10月10日</time>
        </pre>
        

    </div>
<hr>

    <div>
        <h2 style="text-align: center;">列表</h2>
        <ul>&lt;ul&gt;无序列表&lt;/ul&gt;
            <li>&lt;li&gt;列表项&lt;/li&gt;</li>
            <li>&lt;li&gt;列表项&lt;/li&gt;</li>
            <li>&lt;li&gt;列表项&lt;/li&gt;</li>
        </ul>

        <ol>&lt;ol&gt;有序列表&lt;/ol&gt;
            <li>&lt;li&gt;列表项&lt;/li&gt;</li>
            <li>&lt;li&gt;列表项&lt;/li&gt;</li>
            <li>&lt;li&gt;列表项&lt;/li&gt;</li>
        </ol>

        <dl>&lt;dl&gt;自定义列表&lt;/dl&gt;
            <dt>&lt;dt&gt;术语&lt;/dt&gt;</dt>
            <dd>&lt;dd&gt;定义&lt;/dd&gt;</dd>
            <dt>&lt;dt&gt;术语&lt;/dt&gt;</dt>
            <dd>&lt;dd&gt;定义&lt;/dd&gt;</dd>
        </dl>
    </div>
<hr>


    <div>
        <h2 style="text-align: center;">表格</h2>
<pre>
    &lt;table&gt;
        &lt;caption&gt;表格标题&lt;/caption&gt;
        &lt;thead&gt;
         &lt;tr&gt;
            &lt;th&gt;列标题1&lt;/th&gt;
            &lt;th&gt;列标题2&lt;/th&gt;
            &lt;th&gt;列标题3&lt;/th&gt;
         &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
         &lt;tr&gt;
            &lt;td&gt;行1, 列1&lt;/td&gt;
            &lt;td&gt;行1, 列2&lt;/td&gt;
            &lt;td&gt;行1, 列3&lt;/td&gt;
         &lt;/tr&gt;
         &lt;tr&gt;
            &lt;td&gt;行2, 列1&lt;/td&gt;
            &lt;td&gt;行2, 列2&lt;/td&gt;
            &lt;td&gt;行2, 列3&lt;/td&gt;
         &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
</pre>

    </div>

    <hr>
    <table>
        <caption>表格标题</caption>
        <thead>
            <tr>
                <th>列标题1</th>
                <th>列标题2</th>
                <th>列标题3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11</td>
                <td>12</td>
                <td>13</td>
            </tr>
            <tr>
                <td>21</td>
                <td>22</td>
                <td>23</td>
            </tr>
        </tbody>
    </table>
<hr>

<h2 style="text-align: center;">表单和输入</h2>

<h3>form 表单</h3>
<p>
    form标签用于创建HTML表单，用于收集用户输入。
    form元素可以包含以下多个元素标签:
    <ul>
        <li>input 多种输入类型</li>
        <li>textarea 多行文本</li>
        <li>button 按钮</li>
        <li>select 下拉选择框</li>
        <li>option 选择列表中的选项</li>
        <li>optgroup 选择列表中的选项组</li>
        <li>fieldset 在表单中分组相关元素</li>
        <li>label 标签</li>
        <li>output 输出</li>
    </ul>
</p>

<h3>input 输入类型(最重要的表单元素)</h3>
<p>
    <p>
    定义输入字段, 该标签可以用多种方式显示, 由<b>type</b>属性控制, 
    如&lt;input type="time"&gt;
    </p>
    
    以下是不同的输入类型:
    <ul>
        <li>button 按钮</li>
        <li>checkbox 复选框</li>
        <li>color 颜色选择器</li>
        <li>date 日期选择器</li>
        <li>datetime-local 日期和时间选择器</li>
        <li>email 邮箱输入</li>
        <li>file 文件选择器</li>
        <li>hidden 隐藏输入</li>
        <li>image 图像按钮</li>
        <li>month 月份选择器</li>
        <li>number 数字输入</li>
        <li>password 密码输入</li>
        <li>radio 单选按钮</li>
        <li>range 范围选择器</li>
        <li>reset 重置按钮</li>
        <li>search 搜索输入</li>
        <li>submit 提交按钮</li>
        <li>tel 电话输入</li>
        <li>text 文本输入</li> (默认值)
        <li>time 时间选择器</li>
        <li>url URL输入</li>
        <li>week 周选择器</li>
    </ul>
</p>


<h3>textarea 多行文本输入</h3>
<p>
    常用在表单中, 提供一个文本输入框, 用于收集用户的输
</p>
<textarea>在此可以输入多行文本信息</textarea>


<h3>button 按钮</h3>
<p>
    用于创建一个可点击的 <button type="button">按钮</button>, 可以用来提交表单, 触发事件等.
    内部可放置众多标签以增强其功能, 强于input标签中使用 button type.
    <pre>
&lt;button type="button"&gt;按钮&lt;/button&gt;
    </pre>
</p>


<h3>select 下拉选择框</h3>
<p>
    用于创建一个下拉选择框, 允许用户从预定义的选项中进行
    <select>
        <option value="option1">选择1</option>
        <option value="option2">选择2</option>
        <option value="option3">选择3</option>
    </select>

    <pre>
&lt;select&gt;
    &lt;option value="option1"&gt;选择1&lt;/option&gt;
    &lt;option value="option2"&gt;选择2&lt;/option&gt;
    &lt;option value="option3"&gt;选择3&lt;/option&gt;
&lt;/select&gt;
    </pre>
</p>


<h3>optgroup 选项组</h3>
<p>
    对select标签中的选项进行分组<br />

<label for="cars">请选择一个汽车品牌：</label>
    <select  name="cars" id="cars">
    <optgroup label="中国车">
        <option value="byd">比亚迪</option>
        <option value="geely">吉利</option>
    </optgroup>
    <optgroup label="德国车">
        <option value="mercedes">奔驰</option>
        <option value="audi">奥迪</option>
    </optgroup>
    </select>
</p>

<pre>
&lt;label for="cars"&gt;请选择一个汽车品牌：&lt;/label&gt;
&lt;select  name="cars" id="cars"&gt;
&lt;optgroup label="中国车"&gt;
    &lt;option value="byd"&gt;比亚迪&lt;/option&gt;
    &lt;option value="geely"&gt;吉利&lt;/option&gt;
&lt;/optgroup&gt;
&lt;optgroup label="德国车"&gt;
    &lt;option value="mercedes"&gt;奔驰&lt;/option&gt;
    &lt;option value="audi"&gt;奥迪&lt;/option&gt;
&lt;/optgroup&gt;
&lt;/select&gt;
</pre>


<h3>label 标签</h3>
<p>
label 元素不会向用户呈现任何特殊效果。
不过，它为鼠标用户改进了可用性。
如果您在 label 元素内点击文本，就会触发此控件。
就是说，当用户选择该标签时，浏览器就会自动将焦点转到和标签相关的表单控件上。
</p>


<h3>fieldset 表单集</h3>
<form action="/action_page.php">
  <fieldset style= " width: 30%; border: 1px solid #ccc; padding: 10px;">
    <legend>个人信息：</legend>
    <label for="fname">名字：</label>
    <input type="submit" value="提交">
  </fieldset>
</form>
<p>
    表单的容器, 为表单提供一个边框和标题, 用于将相关的表单元素分组在一起, 提高可读性和可访问性。
    其中legend标签提供了标题, 用于描述fieldset中包含的表单元素的含义.
</p>

<h3>datalist 预定义选项</h3>
<label for="browser">预定义一些选项, 但是用户可以输入自定义值</label>
<input list="browsers" name="browser" id="browser">
<datalist id="browsers">
  <option value="Edge"></option>
  <option value="Firefox"></option>
  <option value="Chrome"></option>
  <option value="Opera"></option>
  <option value="Safari"></option>
</datalist>

<pre>
&lt;input list="browsers" name="browser" id="browser"&gt;
&lt;datalist id="browsers"&gt;
  &lt;option value="Edge"&gt;&lt;/option&gt;
  &lt;option value="Firefox"&gt;&lt;/option&gt;
  &lt;option value="Chrome"&gt;&lt;/option&gt;
  &lt;option value="Opera"&gt;&lt;/option&gt;
  &lt;option value="Safari"&gt;&lt;/option&gt;
&lt;/datalist&gt;
</pre>


<h2 style="text-align: center;">框架</h2>

<h3>iframe 定义内部框架</h3>
<p>
    iframe 标签用于在当前页面中嵌入另一个 HTML 页面, 可以用来显示其他网站的内容, 也可以用来嵌入自己的页面。见顶部
</p>



<h2 style="text-align: center;">图像</h2>

<h3>img 图像</h3>
<img src="https://www.w3school.com.cn/i/photo/tulip.jpg" alt="示例图像" height="30%" width="30%">

<pre>
&lt;img src="https://www.w3school.com.cn/i/photo/tulip.jpg" alt="示例图像"&gt;
</pre>



<h3>map 地图</h3>
<p>
给图片定义多个区域(area), 每个区域可以链接到不同的页面或执行不同的操作。
<a href="https://www.w3school.com.cn/tags/tag_map.asp" target="_blank">见</a>
</p>



<h3>svg 可缩放矢量图形</h3>
<svg width="100" height="100">
  <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
</svg>
<p>
    <a href="https://www.w3school.com.cn/tags/tag_svg.asp" target="_blank">见</a>

    <pre>
&lt;svg width="100" height="100"&gt;
    &lt;circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" /&gt;
&lt;/svg&gt;
    </pre>
</p>



<h2 style="text-align: center;">音视频</h2>


<h3>audio 音频</h3>
<audio controls>
  <source src="song.mp3" type="audio/mpeg">
</audio>
<p>
    HTML 支持三种音频格式：MP3、WAV 和 OGG。
</p>
<pre>
&lt;audio controls&gt;
    &lt;source src="song.mp3" type="audio/mpeg"&gt;
&lt;/audio&gt;
</pre>


<h3>video 视频</h3>
<video width="400" height="300" controls>
  <source src="https://www.w3school.com.cn/i/video/shanghai.mp4" type="video/mp4">
</video>
<p>
    HTML 支持三种视频格式：MP4、WebM 和 OGG。
</p>
<pre>
&lt;video width="400" height="300" controls&gt;
    &lt;source src="movie.mp4" type="video/mp4"&gt;
&lt;/video&gt;
</pre>



<h2 style="text-align: center;">链接</h2>

<h3>a 超链接</h3>
<a href="https://www.w3school.com.cn" target="_blank">前往 W3School</a>
<pre>
&lt;a href="https://www.w3school.com.cn" target="_blank"&gt;前往 W3School&lt;/a&gt;
</pre>
<p><u>target="_blank"</u>表示在新窗口中打开链接</p>



<h3>link 链接资源</h3>
在header中使用link标签来引入外部资源, 如css文件, favicon图标等.
<a href="https://www.w3school.com.cn/tags/tag_link.asp" target="_blank">见</a>


<h3>nav 导航</h3>
<nav>
<a href="/html/">HTML</a> |
<a href="/css/">CSS</a> |
<a href="/js/">JavaScript</a> |
<a href="/python/">Python</a>
</nav>
导航组,
<a href="https://www.w3school.com.cn/tags/tag_nav.asp" target="_blank">见</a>


